{% extends 'core/base.html' %}

{% block content %}
<form role="form" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Registro</strong>
          <small></small>
        </div>
        <div class="card-body">
          {% if mensaje != "" %}
          <div class="row">
            <div class="col-sm-12">
              {% if creado %}
              <div class="alert alert-success" role="alert">
                {{ mensaje }}. Para iniciar sesión haga clic <a href="/login">aqu&iacute;</a>.
              </div>
              {% endif %}
              {% if not creado %}
              <div class="alert alert-danger" role="alert">
                {{ mensaje }}
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                {{ form.email_field.label_tag }}
                {{ form.email_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                {{ form.telefono_field.label_tag }}
                {{ form.telefono_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                {{ form.nombre_field.label_tag }}
                {{ form.nombre_field }}
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                {{ form.apellidos_field.label_tag }}
                {{ form.apellidos_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                {{ form.password_field.label_tag }}
                {{ form.password_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                {{ form.password_confirm_field.label_tag }}
                {{ form.password_confirm_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <input type="submit" id="registrar" value="Registrarme" class="btn btn-sm btn-success float-right">
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}