{% extends 'core/base.html' %}
{% load static %}

{% block content %}
{% if esperar_verificacion %}
<!-- tienda section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <strong>Verificaci&oacute;n en proceso</strong>
        <small></small>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div>Espere un momento mientras verificamos que haya realizado su registro correctamente.</div>
            <div>Este proceso no deber&iacute;a tardar m&aacute;s de 24 horas, por lo que si contin&uacute;a con su problema contáctenos por alguno de los medios disponibles.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<!-- pay modal section -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupLabel">Pago con tarjeta de crédito o débito:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" method="post">
          {% csrf_token %}
          {% if messages %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-check"></i>Información</h5>
              {% for message in messages %}
                {% if message.tags %}
                  {{ message }}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
  
          <div class="padding">
            <div class="row">
              <div class="col-sm-6">
                <div class="datos">
                  <p id="counter"></p>
                  {{ form.cambio_btc_lempiras }}
                  {{ form.lempiras_field.label_tag }}
                  {{ form.lempiras_field }}
                  {{ form.amount_field.label_tag }}
                  {{ form.amount_field }}
                  {{ form.address_field.label_tag }}
                  {{ form.address_field }}
                </div>
                <div class="datos-descripcion">
                  <div>* Se le cobrar&aacute;n 25 lempiras adicionales para cubrir los costos de la red de bitcoin.</div>
                  <div>** Se le añadir&aacute; un recargo del 4% por el uso de la tarjeta de cr&eacute;dito/d&eacute;bito.</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Tarjeta</strong>
                    <small>de crédito/débito</small>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Nombre</label>
                          {{ form.tarjeta_nombre_field }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="ccnumber">Credit Card Number</label>
                          <div class="input-group">
                            {{ form.tarjeta_numero_field }}
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="mdi mdi-credit-card"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="ccmonth">Month</label>
                        {{ form.tarjeta_expiration_field }}
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="cvv">CVV/CVC</label>
                          {{ form.tarjeta_cvc_field }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <input type="submit" id="comprar" value="Comprar" class="btn btn-sm btn-success float-right">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end pay modal section -->
<!-- tienda section -->
<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center" style=" color:white">
      <h2>
        Crypto Monedas Disponibles & Montos
      </h2>
      {% if mensaje != "" %}
      <div class="row">
        <div class="col-sm-12">
          {% if success %}
          <div class="alert alert-success" role="alert">
            {{ mensaje }}
          </div>
          {% else %}
          <div class="alert alert-danger" role="alert">
            {{ mensaje }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      {% for item in btc_products %}
        <div class="col-sm-6 col-xl-3" type="number" value="{{ item.price }}">
          <div class="box single">
            <a href="#" data-toggle="modal" data-target="#popup">
              <div class="img-box">
                <img src="{% static "core/images/w1.png" %}" alt="bitcoin logo">
              </div>
              <div class="detail-box">
                <h6>
                  BTC
                </h6>
                <h6>
                  Precio:
                  <span>{{ item.price }}L.</span>
                  <input type="hidden" class="precio" value="{{ item.price }}"/>
                </h6>
              </div>
              <div class="new">
                <span>
                  Bitcoin
                </span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <div class="img-box">
            <div id="result">
              <span>Lempiras:</span>
              <input type="number" id="textInput2"/>
            </div>
            <div id="btcholder">
              <span>Bitcoin</span>
              <input type="number" id="textInput"/>
            </div>
            <input type="hidden" id="textInput3" value="0"/>
          </div>
          <div class="detail-box">
            <h6>
              BTC
            </h6>
            <h6>
              <span>
                <a href="#" data-toggle="modal" data-target="#popup" id="btncomprar">Comprar</a>
              </span>
            </h6>
          </div>
          <div class="new">
            <span>
              Ingrese su Monto:
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end tienda section -->
{% endif %}
{% endblock %}

{% block scripts %}
<!-- final section -->
<script src="{% static "core/js/plugins/payform/dist/jquery.payform.js" %}"></script>
<!--Conversion Javascript-->
<script src="{% static "core/js/conversion.js" %}"></script>
<script>
  $('#id_tarjeta_numero_field').payform('formatCardNumber');
  $('#id_tarjeta_expiration_field').payform('formatCardExpiry');
  $('#id_tarjeta_cvc_field').payform('formatCardCVC');
</script>
{% endblock %}